body {
    background-color: rgb(16, 16, 70);
    /* display: flex;
    flex-direction: column;
    min-height: 100vh; */
}

main {
    /* flex: 1; */
    color: white;
}

/* Style navBar */
nav,
footer {
    background-color: indigo;
    color: white;
}


.list-unstyled {
    list-style: none;
    padding: 30px;
    font-size: 1.5em;
}

.logo {
    width: 75px;
    height: 75px;
}

/* Style sélécteur de catégorie */
.dropbtn {
    background-color: indigo;
    color: #FFFFFF8C;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    background-color: indigo;
    color: #FFFFFF8C;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


/* Style des cards */
.img-card {
    height: 200px;
    object-fit: cover;
}

.description {
    height: 75px;
    overflow: hidden;
}

/* Style boutons suivant et précédent  */
.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 0px;
}

.prev {
    grid-area: 1 / 1 / 2 / 2;
}

.next {
    grid-area: 1 / 2 / 2 / 3;
}

/* Style pour les pages affichant un produit */
.img-resizing {
    max-width: 70%;
    max-height: 400px;
}

/*  Only admin style */

.main-admin {
    padding-left: 50px;
}

.logo-admin {
    width: 125px;
    height: 125px;
}

thead {
    background-color: rgb(50, 50, 80);
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}


.btn-admin:hover {
    border: solid 1px white;
}

.logout-admin {
    position: fixed;
    top: 50px;
    right: 50px;
    background-color: indigo;
}

.logout-admin:hover {
    border: solid 1px white;
}